*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#2b1d13;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

font-family:Arial;

}

.container{

position:relative;

width:100%;
max-width:430px;

}

.container img{

width:100%;
display:block;

}

/* ÁREA DO IFOOD */

.ifood{

position:absolute;

left:14%;

width:72%;

top:73%;

height:7.2%;

}

/* ÁREA DO 99 */

.n99{

position:absolute;

left:14%;

width:72%;

top:82%;

height:7.2%;

}

/* ÁREA DO INSTAGRAM */

.instagram{

position:absolute;

left:14%;

width:72%;

top:91%;

height:7.2%;

}

/* Debug (opcional)
Descomente para visualizar as áreas clicáveis

.ifood,
.n99,
.instagram{
background:red;
opacity:.30;
border-radius:18px;
}

*/
